/*----------- OVERALL -----------*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
nav ul {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


/*----------- NAV-BAR -----------*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 18rem;
    height: 100vh;
    z-index: 5;
    overflow: scroll;
    background:rgb(15, 41, 61);
    box-shadow: 0rem 0rem 0.8rem 0.1rem rgba(0, 0, 0, 0.4);
    border-right: 2px solid white;
}

.heading {
    padding: 1rem 0;
    position: sticky;
    top: 0;
    background-color: rgb(15, 41, 61);
}

h1 {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    font-size: 1.6rem;
}

.icon-div {
    display: none;
}

nav ul {
    list-style-type: none;
}

nav li {
    font-family: 'Roboto', sans-serif;
}

nav ul a {
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
    color: rgb(245, 244, 240);
    border-bottom: 1px solid rgb(34, 68, 94);
    transition: .3s ease;
}
nav li:last-child a {
    border-bottom: none;
}

nav a:hover {
    background:rgb(20, 80, 126);
}

@media (max-width: 1000px) {
    nav {
        width: 12rem;
    }

    h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 550px) {
    nav {
        position: sticky;
        width: 100%;
        height: 100%;
        border-right: none;
        border-bottom: 2px solid white;
    }

    h1 {
        text-align: left;
        margin: 0;
        font-size: 1.2rem;
    }

    .heading {
        display: flex;
        padding: 1.5rem 10vw;
        align-items: center;
        justify-content: space-between;
    }

    .icon-div {
        display: block;
        margin-left: 2rem;
    }

    .fa {
        color: white;
        font-size: 1.2rem !important;
    }

    #navLinks {
        display: none;
    }
}

/*----------- MAIN CONTENT -----------*/
main {
    position: relative;
    top: 0;
    width: calc(100vw - 18rem);
    left: 18rem;
    padding: 0rem 4vw;
    background:rgb(245, 244, 240);
}

section {
    padding: 2rem 0 3rem 0;
    border-bottom: 1px solid rgb(118, 145, 165);
}

section:last-child {
    border-bottom: none
}

.section-content {
    padding: 0 2.5vw;
}

h2 {
    font-family: 'Lilita One', cursive;
    font-size: 1.75rem;
    color:rgb(32, 58, 78);
}

h3 {
    font-family: 'Antic Slab', serif;
    color:rgb(42, 68, 88);
    margin-top: 2.5rem;
}

p, 
main li {
    font-family: 'Roboto', sans-serif;
    color:rgb(22, 44, 61);
    font-weight: 300;
}

p {
    text-align: justify;
    text-indent: 2rem;
    font-size: 1rem;
}

main ul {
    list-style: circle;
}

@media (max-width: 1000px) {
    main {
        width: calc(100vw - 12rem);
        left: 12rem;
    }

    section {
        padding: 5rem 0 3rem 0;
    }
    section:first-child {
        padding: 1rem 0 3rem 0;
    }
}

@media (max-width: 550px) {
    main {
        left: 0;
        width: 100%;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    p, 
    main li {
        font-size: 0.9rem;
    }
}

/*----------- CODE CONTENT -----------*/

code {
    display: block;
    white-space:pre-wrap;
    background: rgb(235, 238, 241);
    padding: 1rem 2rem;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 0.3rem;
    line-height: 1.3rem;
    color: rgb(100, 100, 100);
    font-size: 1.05rem;
    overflow: scroll;
}

.mustard {
    color: rgb(214, 166, 10);
}

.green {
    color: rgb(65, 151, 65);
}

.purple {
    color: rgb(156, 12, 175);
}

.blue {
    color: rgb(20, 106, 177);
}

.red {
    color:rgb(189, 47, 47);
}

@media (max-width: 550px) {
    code {
        font-size: 1rem;
        line-height: 1rem;
        padding: 0.5rem 1rem;
    }
}


/*----------- FOOTER -----------*/

footer {
    position: relative;
    width: calc(100vw - 18rem);
    left: 18rem;
    padding: 3rem 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:rgb(229, 225, 209);
    border-top: 1px solid rgb(177, 165, 119);
}

footer p {
    margin: 0.1rem;
    color: rgb(104, 75, 12);
    font-weight: 400;
    text-indent: 0;
    text-align: center;
}

footer a {
    color: rgb(146, 116, 50);
    text-decoration: none;
    transition: 0.3s ease;
}

footer a:hover {
    color: rgb(53, 99, 134);
    text-decoration: none;
    font-size: 0.9rem;
}


.prev-next-projects {
    display: flex;
}

.prev-project,
.next-project {
    padding: 0.2rem 1rem;
    margin: 0.3rem 0rem;
}

.prev-project {
    border-right: 1px solid #cacaca;
}

.developer {
    margin-top: 1.5rem;
}

@media (max-width: 1000px) {
    footer {
        width: calc(100vw - 12rem);
        left: 12rem;
    }
}

@media (max-width: 550px) {
    footer {
        left: 0;
        width: 100%;
    }
}